*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box{
    margin: auto;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 20px;
}


/* corpo */
.row{
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 5px;
    display: inline-block;

}


    /* articolo */

.row .sample{
    width: 300px;
    height: 450px;
    margin-bottom: 5px;
    position: relative;
}
 .sample .sconto {
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: red;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 5%;
   
    

}
.capo{
    width: 300px;
    height: 450px;
}

.capo.primo{
    display: block;
}
.capo.secondo{
    display: none;
    
    
    
}
.change:hover .capo.primo{
    display: none; 
    
}

.change:hover .capo.capo.secondo{
    display: block; 
    
}




    /* elementi */
.sample .sost{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: rgb(41, 116, 48);
    padding: 5px;
    position: absolute;
    left: 50px;
    bottom: 5%;
    
}

.sample .cuore{
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    position: absolute;
    top: 5%;
    right: 0;
    
}

/* caption */
.brand, .price{
    font-size: 15px;
}

.discount {
    color: red;
    font-weight: bold;
}
.first {
    text-decoration: line-through;
}